.main {
  display: flex;
  box-sizing: content-box;
}

.server {
  border: 2px dashed #000000;
  padding: 10px;
}

.settings {
  border: 2px dashed #000000;
  padding: 10px;
}

.card {
  margin: 5px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  max-height: 500px;
  max-width: 500px;
}

.card-body {
  overflow-y: auto;
  padding: 0;
}

textarea {
  resize: none;
}

.section-1 {
  display: flex;
}

.section-2 {
  display: flex;
}

.section-3 {
  display: flex;
}

ul.server-logs li {
  cursor: pointer;
  padding: 2px;
}

ul.server-logs li:hover {
  color: #1c9bd1;
}

ul {
  list-style: none;
}

.spinner-border {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;

  position: absolute;
  top: 50%;
  left: 50%;
}
